@model GCGov.Models.Aditivo

@{
    ViewData["Title"] = "Excluir Aditivo";
}

<div class="row justify-content-center">
    <h6 class="text-danger">ATENÇÃO! Esta ação não poderá ser desfeita, você tem certeza que deseja excluir o Aditivo?</h6>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <dl class="row">
                <dt class="col-sm-12">Numero</dt>
                <dd class="col-sm-12">@Html.DisplayFor(model => model.AdtNum)</dd>
                <dt class="col-sm-12">Descrição</dt>
                <dd class="col-sm-12">@Html.DisplayFor(model => model.AdtDesc)</dd>
                <dt class="col-sm-12">Data</dt>
                <dd class="col-sm-12">@Html.DisplayFor(model => model.AdtData)</dd>
                <dt class="col-sm-12">Valor</dt>
                <dd class="col-sm-12">@Html.DisplayFor(model => model.AdtValor)</dd>
                <dt class="col-sm-12">Contrato</dt>
                <dd class="col-sm-12">@Html.DisplayFor(model => model.Contrato.Extrato)</dd>
            </dl>
            
            <form asp-action="Delete">
                <div class="form-group row"></div>
                <div class="col-md-12">
                    <div class="mt-3">
                        <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
                            <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
                        </a>
                        <button type="submit" class="btn btn-labeled btn-danger" title="Excluir">
                            <span class="btn-label"><i class="fa-solid fa-trash"></i></span>Excluir
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>