@model GCGov.Models.Aditivo

@{
	ViewData["Title"] = "Detalhar Aditivo";
}

<div class="card">
	<div class="card-header"><h4>Detalhar Aditivo</h4></div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
			<dl class="row">
				<div class="col-md-12">
					<dt class="col-sm-12">@Html.DisplayNameFor(model => model.Contrato)</dt>
					<dd class="col-sm-12">@Html.DisplayFor(model => model.Contrato.Extrato)</dd>
					<hr />
				</div>
				<div class="col-md-6">
					<dt class="col-sm-6">@Html.DisplayNameFor(model => model.AdtNum)</dt>
					<dd class="col-sm-6">@Html.DisplayFor(model => model.AdtNum)</dd>
				</div>
				<div class="col-md-16">
					<dt class="col-sm-6">@Html.DisplayNameFor(model => model.AdtData)</dt>
					<dd class="col-sm-6">@Html.DisplayFor(model => model.AdtData)</dd>
				</div>
				<div class="col-sm-12">
					<dt class="col-sm-12">@Html.DisplayNameFor(model => model.AdtDesc)</dt>
						<dd class="col-sm-12">@Html.DisplayFor(model => model.AdtDesc)</dd>
				</div>
				<div class="col-md-12">
					<dt class="col-sm-6">@Html.DisplayNameFor(model => model.AdtValor)</dt>
					<dd class="col-sm-6">@Html.DisplayFor(model => model.AdtValor)</dd>
				</div>
				<hr />
			</dl>
			</div>
		</div>

		<div>
			<a asp-action="Edit" class="btn btn-labeled btn-primary" asp-route-id="@Model?.AdtId" title="Editar">
				<span class="btn-label"><i class="fas fa-pen-square"></i></span>Editar
			</a>
			<a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
				<span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
			</a>
		</div>
	</div>
</div>