@model IEnumerable<gcgov.Models.Aditivo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
     <a asp-action="Create" class="btn btn-primary">Cadastrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdtNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdtData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdtNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdtData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.ContratoId)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.AdtId title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.AdtId"title="Detalhar"><i class="fas fa-file-alt mr-2"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.AdtId"title="Apagar"><i class="fas fa-trash mr-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
