<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GCGOV-RO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GCGov.styles.css" asp-append-version="true" />
    <script src="~/lib/chartjs/chart.umd.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm custom-navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-container">
                        <img src="/Brasao_de_Rondonia.png" alt="Logo" class="logo-image">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-file-contract"></i>
                                Contratos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Contratos")" class="dropdown-item">Listar </a></li>
                                <li><a href="@Url.Action("Create", "Contratos")" class="dropdown-item">Cadastrar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-folder-plus"></i>
                                Adicionar
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Editais")" class="dropdown-item">Editais</a></li>
                                <li><a href="@Url.Action("Index", "Aditivos")" class="dropdown-item">Aditivos</a></li>
                                <li><a href="@Url.Action("Index", "Apostilamentos")" class="dropdown-item">Apostilamentos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                                Financeiro
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "NaturezasDespesas")" class="dropdown-item">Natureza Despesa</a></li>
                                <li><a href="@Url.Action("Index", "PgtosOrigens")" class="dropdown-item">Nota Empenho</a></li>
                                <li><a href="@Url.Action("Index", "Pagamentos")" class="dropdown-item">Pagamentos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-regular fa-newspaper"></i>
                                Gestores
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Portarias")" class="dropdown-item">Portarias</a></li>
                                <li><a href="@Url.Action("Index", "Servidores")" class="dropdown-item">Gestores</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link notifications"><i class="far fa-bell"></i><span class="badge">1</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link messages"><i class="far fa-envelope"></i><span class="badge">10</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle user-action" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="far fa-user"></i> Rangel Nepomuceno <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item"><i class="far fa-user"></i> Perfil</a></li>
                                <li><a href="#" class="dropdown-item"><i class="far fa-calendar-alt"></i> Calendario</a></li>
                                <li><a href="#" class="dropdown-item"><i class="fas fa-sliders-h"></i> Configurações</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search-section bg-light">
            <div class="container">
                <form class="navbar-form form-inline">
                    <br/>
                    <div class="input-group search-box">
                        <input type="text" id="search" class="form-control" placeholder="Pesquisar" aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2023 - GCGov - <a asp-area="" asp-controller="Home" asp-action="Privacidade">Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>