@model IEnumerable<GCGov.Models.NaturezaDespesa>

@{
    ViewData["Title"] = "Naturezas de Despesas";
}

<h4>Listar Naturezas de Despesas</h4>
<p>
    <a asp-action="Create" class="btn btn-labeled btn-primary" title="Cadastrar">
        <span class="btn-label"><i class="fa-regular fa-square-plus"></i></span>Cadastrar
    </a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-sm-3">@Html.DisplayNameFor(model => model.FonteRecurso)</th>
            <th class="col-sm-4">@Html.DisplayNameFor(model => model.ProgramaTrabalho)</th>
            <th class="col-sm-4">@Html.DisplayNameFor(model => model.ElementoDespesa)</th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="col-sm-3">@Html.DisplayFor(modelItem => item.FonteRecurso)</td>
                <td class="col-sm-4">@Html.DisplayFor(modelItem => item.ProgramaTrabalho)</td>
                <td class="col-sm-4">@Html.DisplayFor(modelItem => item.ElementoDespesa)</td>
                <td class="col-sm-1">
                    <div class="btn-group" role="group" aria-label="Operações">
                        <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.NatDespId" title="Ver Detalhes"><i class="fa-regular fa-eye"></i></a>
                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.NatDespId" title="Editar"><i class="fas fa-pen-square"></i></a>
                        <button class="btn btn-danger delete-button" data-id="@item.NatDespId" data-url="/NaturezasDespesas/Delete" title="Excluir"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title font-weight-bold" id="deleteModalLabel">Excluir Aditivo</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/deleteModal.js"></script>
}
