@model GCGov.Models.Portaria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Portaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortariaNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortariaNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocoloDiof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocoloDiof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.ContratoId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PortariaId" class="btn btn-labeled btn-secondary" title="Editar">
        <span class="btn-label"><i class="fas fa-pen-square"></i></span>Editar
    </a>

    <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
        <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
    </a>
</div>
