@model IEnumerable<GCGov.Models.Portaria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-labeled btn-primary" title="Cadastrar">
        <span class="btn-label"><i class="fa-regular fa-square-plus"></i></span>Cadastrar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PortariaNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProtocoloDiof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PortariaNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProtocoloDiof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.ContratoId)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.PortariaId"  title="Ver Detalhes"><i class="fas fa-file-alt"></i></a>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.PortariaId" title="Editar"><i class="fas fa-pen-square"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PortariaId" title="Apagar"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
