@model GCGov.Models.PgtosTipo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PgtosTipo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaEmpenho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaEmpenho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.ContratoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NaturezaDespesaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NaturezaDespesaNavigation.NaturezaDespesa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PgtoMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PgtoMod.PgtoModId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PgtoTipoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
