@model IEnumerable<GCGov.Models.DotacaoOrcamentaria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-labeled btn-primary" title="Cadastrar">
        <span class="btn-label"><i class="fa-regular fa-square-plus"></i></span>Cadastrar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FonteRecurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProgramaTrabalho)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FonteRecurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramaTrabalho)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.NaturezaDespesa" title="Editar"><i class="fas fa-pen-square mr-2"></i></a>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.NaturezaDespesa"  title="Ver Detalhes"><i class="fas fa-file-alt mr-2"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.NaturezaDespesa" title="Apagar"><i class="fas fa-trash mr-2"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
