@model GCGov.Models.Edital

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Edital</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdtNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdtNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdtTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdtTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdtLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdtLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdtData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdtData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato.ContratoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EdtId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-labeled btn-secondary" title="Voltar">
            <span class="btn-label"><i class="fa-solid fa-arrow-left"></i></span>Voltar
        </a>
    </form>
</div>
