@model IEnumerable<gcgov.Models.Edital>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EdtNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdtTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdtLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdtData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EdtNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdtTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdtLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdtData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato.ContratoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EdtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EdtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EdtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
