@model gcgov.Models.Pagamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreparacaoPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreparacaoPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdemBancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdemBancaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PgtoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PgtoTipo.PgtoTipoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PgtoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
