@model IEnumerable<gcgov.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-labeled btn-primary" title="Cadastrar">
        <span class="btn-label"><i class="fa-regular fa-square-plus"></i></span>Cadastrar
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotaLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparacaoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdemBancaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parcela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PgtoTipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotaLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparacaoPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdemBancaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parcela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PgtoTipo.PgtoTipoId)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.PgtoId"  title="Ver Detalhes"><i class="fas fa-file-alt"></i></a>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.PgtoId" title="Editar"><i class="fas fa-pen-square"></i></a>
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.PgtoId" title="Apagar"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
