@model GCGov.Models.PortariaServidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PortariaServidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatriculaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatriculaNavigation.Matricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portaria.PortariaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PortariasPessoasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
