@model IEnumerable<GCGov.Models.PortariaServidor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Portaria)
            </th>
            <th class="col-sm-1"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatriculaNavigation.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Portaria.PortariaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PortariasServidorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PortariasServidorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PortariasServidorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
